*{
    box-sizing: border-box;
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
html{
    font-size: 15px;
     background-color: hsl(234, 29%, 20%);
}
body{
    width: 100vw;
    height: 100vh;
    margin: 0;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: hsl(234, 29%, 20%);
}
.container{
    width: 600px;
    height:500px;
    min-height: fit-content;
    overflow: hidden;
    border-radius: 20px;
    background-color: hsl(0, 0%, 100%);
}
.wrapper{
    width: 100%;
    height: 100%;
    padding: 20px;
    font-weight: 400;
    display: flex;
    gap: 20px;
    background-color: transparent;
}
.first-section, .second-section{
    width:50%;
    height: 100%;
    background-color: transparent;
}
.first-section{
    padding: 20px;
    display: flex;
    align-items: center;
}
.first-section h1{
    font-size: 2.5em;
}
ul{
    list-style: none;
    margin: none;
    width: 100%;
    padding-left: 0;
}
li{
    position: relative;
    padding-left: 1.5em;
    width: 100%;
}
li::before{
    position: absolute;
    content: "";
    left: 0;
    top: 3px;
    width: 1em;
    height: 1em;
    background-image: url(assets/images/icon-list.svg);
     background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
form{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.inputEle{
    width: 100%;
    margin-top: 5px;
}
label{
    font-size: .7em;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.inputErr{
    color: rgb(235, 20, 20);
    font-size: .8em;
    font-weight: 700;
}
input, button{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}
button{
    margin-top: 10px;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    border: none;
}
button:hover{
    background-image: linear-gradient(45deg, hsl(4, 100%, 67% , .5) , hsl(4, 100%, 67%));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
input{
    border: 1px solid;
    padding: 10px;
}
.image{
    height: 100%;
    width: 100%;
    background-image: url(assets/images/illustration-sign-up-desktop.svg);
    border-radius: 10px;
}

.successPage{
    width: 25%;
    height: 50%;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 30px;
    font-size: .8em;
    display: none;
}
.successPage .wrapper{
    display: inline-block;
}
.successPage h1{
    font-weight: 700;
    font-size: 2em;
}

.svg{
    background-image: url(assets/images/icon-list.svg);
    width:35px;
    height:35px;
    border-radius: 50%;
}
.successPage button{
    margin-top: 25px;
}

@media screen and (max-width:600px) {
    html{
        height: 100%;
    }
    body{
        width: 100%;
        height: 100%;
    }
    .container{
        width: 70%;
        height: 100%;
        padding: none;
        margin: 0;
        border-radius: 0;
    }
    .wrapper{
        flex-direction: column-reverse;
        gap: 0;
        padding: 0;
    }
    .second-section, .first-section{
        width: 100%;
        
    }
    .first-section h1{
        margin-top: 0;
        padding: 0 ;
        
    }
    .second-section{
        height: 50%;
        border-radius: 0;
    }
    .image{
        background-image: url(assets/images/illustration-sign-up-mobile.svg);
        height: 100%;
        border-radius: 0 0 10px 10px ;
    }
    .successPage{
        position: relative;
        height: 100%;
        width: 70%;
        padding: 6em 20px;
        border-radius: 0;
    }
    .svg{
        width: 50px;
        height: 50px;
    }
    .successPage button{
        position: absolute;
        bottom: 20px;
        margin: auto;
        width: 90%;
        left: 0;
        right: 0;
    }
    
}
@media  screen and (max-width:470px) {
    .container{
        width: 100%;
        font-size: 1.5em;
    }
    .first-section button, .inputEle, input{
        height: 50px;
    }
    .successPage{
        width: 100%;
    }
}
@media  screen and (max-width:450px) {
     h1{
        font-size: 2em;
    }
    
}
@media screen and (max-width: 300px) {
     h1{
        font-size: 1.8em;
    }
    .container,.successPage{font-size: 1em;}
}


.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }